USE [master]
GO
/****** Object:  Database [Shipping]    Script Date: 10/1/2024 11:11:16 AM ******/
CREATE DATABASE [Shipping]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Shipping', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\Shipping.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Shipping_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\Shipping_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Shipping].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Shipping]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/1/2024 11:11:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 10/1/2024 11:11:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 10/1/2024 11:11:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 10/1/2024 11:11:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 10/1/2024 11:11:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 10/1/2024 11:11:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 10/1/2024 11:11:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 10/1/2024 11:11:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Log]    Script Date: 10/1/2024 11:11:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Message] [nvarchar](max) NULL,
	[MessageTemplate] [nvarchar](max) NULL,
	[Level] [nvarchar](max) NULL,
	[TimeStamp] [datetime] NULL,
	[Exception] [nvarchar](max) NULL,
	[Properties] [nvarchar](max) NULL,
 CONSTRAINT [PK_Log] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbCarriers]    Script Date: 10/1/2024 11:11:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbCarriers](
	[Id] [uniqueidentifier] NOT NULL,
	[CarrierName] [nvarchar](200) NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[CurrentState] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_TbCarriers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbCities]    Script Date: 10/1/2024 11:11:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbCities](
	[Id] [uniqueidentifier] NOT NULL,
	[CityAName] [nchar](10) NULL,
	[CityEName] [nchar](10) NULL,
	[CountryId] [uniqueidentifier] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[CurrentState] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_TbCities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbCountries]    Script Date: 10/1/2024 11:11:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbCountries](
	[Id] [uniqueidentifier] NOT NULL,
	[CountryAName] [nvarchar](200) NULL,
	[CountryEName] [nvarchar](200) NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[CurrentState] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_TbCountries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbPaymentMethods]    Script Date: 10/1/2024 11:11:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbPaymentMethods](
	[Id] [uniqueidentifier] NOT NULL,
	[MethdAName] [nvarchar](200) NULL,
	[MethodEName] [nvarchar](200) NULL,
	[Commission] [float] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[CurrentState] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_TbPaymentMethods] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbSetting]    Script Date: 10/1/2024 11:11:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbSetting](
	[Id] [uniqueidentifier] NOT NULL,
	[KiloMeterRate] [float] NULL,
	[KilooGramRate] [float] NULL,
 CONSTRAINT [PK_TbSetting] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbShippingTypes]    Script Date: 10/1/2024 11:11:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbShippingTypes](
	[Id] [uniqueidentifier] NOT NULL,
	[ShippingTypeAName] [nvarchar](200) NULL,
	[ShippingTypeEName] [nvarchar](200) NULL,
	[ShippingFactor] [float] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[CurrentState] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_TbShippingTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbShippments]    Script Date: 10/1/2024 11:11:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbShippments](
	[Id] [uniqueidentifier] NOT NULL,
	[ShippingDate] [datetime] NOT NULL,
	[SenderId] [uniqueidentifier] NOT NULL,
	[ReceiverId] [uniqueidentifier] NOT NULL,
	[ShippingTypeId] [uniqueidentifier] NOT NULL,
	[Width] [float] NOT NULL,
	[Height] [float] NOT NULL,
	[Weight] [float] NOT NULL,
	[Length] [float] NOT NULL,
	[PackageValue] [decimal](8, 4) NOT NULL,
	[ShippingRate] [decimal](8, 4) NOT NULL,
	[PaymentMethodId] [uniqueidentifier] NULL,
	[UserSubscriptionId] [uniqueidentifier] NULL,
	[TrackingNumber] [float] NULL,
	[ReferenceId] [uniqueidentifier] NULL,
	[CurrentState] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
 CONSTRAINT [PK_TbShippments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbShippmentStatus]    Script Date: 10/1/2024 11:11:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbShippmentStatus](
	[Id] [uniqueidentifier] NOT NULL,
	[ShippmentId] [uniqueidentifier] NULL,
	[CurrentState] [int] NOT NULL,
	[Notes] [nvarchar](max) NULL,
	[CarrierId] [uniqueidentifier] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_TbShippmentStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbSubscriptionPackages]    Script Date: 10/1/2024 11:11:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbSubscriptionPackages](
	[Id] [uniqueidentifier] NOT NULL,
	[PackageName] [nvarchar](200) NOT NULL,
	[ShippimentCount] [int] NOT NULL,
	[NumberOfKiloMeters] [float] NOT NULL,
	[TotalWeight] [float] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[CurrentState] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_TbSubscriptionPackages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbUserReceivers]    Script Date: 10/1/2024 11:11:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbUserReceivers](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[ReceiverName] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](200) NOT NULL,
	[CityId] [uniqueidentifier] NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[UpdatedDate] [datetime] NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[CurrentState] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_TbUserReceivers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbUserSebders]    Script Date: 10/1/2024 11:11:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbUserSebders](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[SenderName] [nvarchar](200) NOT NULL,
	[Email] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](200) NOT NULL,
	[CityId] [uniqueidentifier] NOT NULL,
	[Address] [nvarchar](500) NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[CurrentState] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_TbUserSebders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbUserSubscriptions]    Script Date: 10/1/2024 11:11:16 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbUserSubscriptions](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[PackageId] [uniqueidentifier] NOT NULL,
	[SubscriptionDate] [datetime] NOT NULL,
	[UpdatedBy] [uniqueidentifier] NULL,
	[CurrentState] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[UpdatedDate] [datetime] NULL,
 CONSTRAINT [PK_TbUserSubscriptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240822145406_Intial', N'8.0.8')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240822151211_UserTables', N'8.0.8')
GO
SET IDENTITY_INSERT [dbo].[Log] ON 

INSERT [dbo].[Log] ([Id], [Message], [MessageTemplate], [Level], [TimeStamp], [Exception], [Properties]) VALUES (12, N'Executed DbCommand ("9"ms) [Parameters=[""], CommandType=''Text'', CommandTimeout=''30'']"
""SELECT [t].[Id], [t].[CreatedBy], [t].[CreatedDate], [t].[CurrentState], [t].[ShippingFactor], [t].[ShippingTypeAName], [t].[ShippingTypeEName], [t].[UpdatedBy], [t].[UpdatedDate]
FROM [TbShippingTypes] AS [t]"', N'Executed DbCommand ({elapsed}ms) [Parameters=[{parameters}], CommandType=''{commandType}'', CommandTimeout=''{commandTimeout}'']{newLine}{commandText}', N'Information', CAST(N'2024-09-14T13:16:06.363' AS DateTime), NULL, N'<properties><property key=''elapsed''>9</property><property key=''parameters''></property><property key=''commandType''>Text</property><property key=''commandTimeout''>30</property><property key=''newLine''>
</property><property key=''commandText''>SELECT [t].[Id], [t].[CreatedBy], [t].[CreatedDate], [t].[CurrentState], [t].[ShippingFactor], [t].[ShippingTypeAName], [t].[ShippingTypeEName], [t].[UpdatedBy], [t].[UpdatedDate]
FROM [TbShippingTypes] AS [t]</property><property key=''EventId''><structure type=''''><property key=''Id''>20101</property><property key=''Name''>Microsoft.EntityFrameworkCore.Database.Command.CommandExecuted</property></structure></property><property key=''SourceContext''>Microsoft.EntityFrameworkCore.Database.Command</property><property key=''ActionId''>c906a33f-c7ad-4e0a-b98c-cafce23f050b</property><property key=''ActionName''>Ui.Controllers.HomeController.Index (Ui)</property><property key=''RequestId''>0HN6KKOQMREKK:00000001</property><property key=''RequestPath''>/</property><property key=''ConnectionId''>0HN6KKOQMREKK</property></properties>')
INSERT [dbo].[Log] ([Id], [Message], [MessageTemplate], [Level], [TimeStamp], [Exception], [Properties]) VALUES (22, N'Executed DbCommand ("6"ms) [Parameters=[""], CommandType=''Text'', CommandTimeout=''30'']"
""SELECT [t].[Id], [t].[CreatedBy], [t].[CreatedDate], [t].[CurrentState], [t].[ShippingFactor], [t].[ShippingTypeAName], [t].[ShippingTypeEName], [t].[UpdatedBy], [t].[UpdatedDate]
FROM [TbShippingTypes] AS [t]"', N'Executed DbCommand ({elapsed}ms) [Parameters=[{parameters}], CommandType=''{commandType}'', CommandTimeout=''{commandTimeout}'']{newLine}{commandText}', N'Information', CAST(N'2024-09-14T13:32:36.063' AS DateTime), NULL, N'<properties><property key=''elapsed''>6</property><property key=''parameters''></property><property key=''commandType''>Text</property><property key=''commandTimeout''>30</property><property key=''newLine''>
</property><property key=''commandText''>SELECT [t].[Id], [t].[CreatedBy], [t].[CreatedDate], [t].[CurrentState], [t].[ShippingFactor], [t].[ShippingTypeAName], [t].[ShippingTypeEName], [t].[UpdatedBy], [t].[UpdatedDate]
FROM [TbShippingTypes] AS [t]</property><property key=''EventId''><structure type=''''><property key=''Id''>20101</property><property key=''Name''>Microsoft.EntityFrameworkCore.Database.Command.CommandExecuted</property></structure></property><property key=''SourceContext''>Microsoft.EntityFrameworkCore.Database.Command</property><property key=''ActionId''>78b37e60-d95d-4297-a709-2bfb8df314c4</property><property key=''ActionName''>Ui.Controllers.HomeController.Index (Ui)</property><property key=''RequestId''>0HN6KL25RT71T:00000001</property><property key=''RequestPath''>/</property><property key=''ConnectionId''>0HN6KL25RT71T</property></properties>')
INSERT [dbo].[Log] ([Id], [Message], [MessageTemplate], [Level], [TimeStamp], [Exception], [Properties]) VALUES (61, N'Executed DbCommand ("1"ms) [Parameters=[""], CommandType=''Text'', CommandTimeout=''30'']"
""SELECT [t].[Id], [t].[CreatedBy], [t].[CreatedDate], [t].[CurrentState], [t].[ShippingFactor], [t].[ShippingTypeAName], [t].[ShippingTypeEName], [t].[UpdatedBy], [t].[UpdatedDate]
FROM [TbShippingTypes] AS [t]"', N'Executed DbCommand ({elapsed}ms) [Parameters=[{parameters}], CommandType=''{commandType}'', CommandTimeout=''{commandTimeout}'']{newLine}{commandText}', N'Information', CAST(N'2024-09-14T13:33:08.530' AS DateTime), NULL, N'<properties><property key=''elapsed''>1</property><property key=''parameters''></property><property key=''commandType''>Text</property><property key=''commandTimeout''>30</property><property key=''newLine''>
</property><property key=''commandText''>SELECT [t].[Id], [t].[CreatedBy], [t].[CreatedDate], [t].[CurrentState], [t].[ShippingFactor], [t].[ShippingTypeAName], [t].[ShippingTypeEName], [t].[UpdatedBy], [t].[UpdatedDate]
FROM [TbShippingTypes] AS [t]</property><property key=''EventId''><structure type=''''><property key=''Id''>20101</property><property key=''Name''>Microsoft.EntityFrameworkCore.Database.Command.CommandExecuted</property></structure></property><property key=''SourceContext''>Microsoft.EntityFrameworkCore.Database.Command</property><property key=''ActionId''>78b37e60-d95d-4297-a709-2bfb8df314c4</property><property key=''ActionName''>Ui.Controllers.HomeController.Index (Ui)</property><property key=''RequestId''>0HN6KL25RT71T:00000019</property><property key=''RequestPath''>/</property><property key=''ConnectionId''>0HN6KL25RT71T</property></properties>')
GO
INSERT [dbo].[Log] ([Id], [Message], [MessageTemplate], [Level], [TimeStamp], [Exception], [Properties]) VALUES (101, N'Executed DbCommand ("7"ms) [Parameters=[""], CommandType=''Text'', CommandTimeout=''30'']"
""SELECT [t].[Id], [t].[CreatedBy], [t].[CreatedDate], [t].[CurrentState], [t].[ShippingFactor], [t].[ShippingTypeAName], [t].[ShippingTypeEName], [t].[UpdatedBy], [t].[UpdatedDate]
FROM [TbShippingTypes] AS [t]"', N'Executed DbCommand ({elapsed}ms) [Parameters=[{parameters}], CommandType=''{commandType}'', CommandTimeout=''{commandTimeout}'']{newLine}{commandText}', N'Information', CAST(N'2024-09-14T13:33:27.300' AS DateTime), NULL, N'<properties><property key=''elapsed''>7</property><property key=''parameters''></property><property key=''commandType''>Text</property><property key=''commandTimeout''>30</property><property key=''newLine''>
</property><property key=''commandText''>SELECT [t].[Id], [t].[CreatedBy], [t].[CreatedDate], [t].[CurrentState], [t].[ShippingFactor], [t].[ShippingTypeAName], [t].[ShippingTypeEName], [t].[UpdatedBy], [t].[UpdatedDate]
FROM [TbShippingTypes] AS [t]</property><property key=''EventId''><structure type=''''><property key=''Id''>20101</property><property key=''Name''>Microsoft.EntityFrameworkCore.Database.Command.CommandExecuted</property></structure></property><property key=''SourceContext''>Microsoft.EntityFrameworkCore.Database.Command</property><property key=''ActionId''>caac9770-eac4-4157-a19d-746e0fcc748e</property><property key=''ActionName''>Ui.Controllers.HomeController.Index (Ui)</property><property key=''RequestId''>0HN6KL2KV9HN3:00000001</property><property key=''RequestPath''>/</property><property key=''ConnectionId''>0HN6KL2KV9HN3</property></properties>')
INSERT [dbo].[Log] ([Id], [Message], [MessageTemplate], [Level], [TimeStamp], [Exception], [Properties]) VALUES (126, N'Executed DbCommand ("34"ms) [Parameters=["@p0=''?'' (DbType = Guid), @p1=''?'' (DbType = DateTime), @p2=''?'' (DbType = Int32), @p3=''?'' (DbType = Double), @p4=''?'' (Size = 200), @p5=''?'' (Size = 200), @p6=''?'' (DbType = Guid), @p7=''?'' (DbType = DateTime)"], CommandType=''Text'', CommandTimeout=''30'']"
""SET IMPLICIT_TRANSACTIONS OFF;
SET NOCOUNT ON;
SET NOCOUNT ON;
INSERT INTO [TbShippingTypes] ([CreatedBy], [CreatedDate], [CurrentState], [ShippingFactor], [ShippingTypeAName], [ShippingTypeEName], [UpdatedBy], [UpdatedDate])
OUTPUT INSERTED.[Id]
VALUES (@p0, @p1, @p2, @p3, @p4, @p5, @p6, @p7);</property><property key=''EventId''><structure type=''''><property key=''Id''>20101</property><property key=''Name''>Microsoft.EntityFrameworkCore.Database.Command.CommandExecuted</property></structure></property><property key=''SourceContext''>Microsoft.EntityFrameworkCore.Database.Command</property><property key=''ActionId''>690791a1-6dd7-4932-b03f-1f1302edbd53</property><property key=''ActionName''>Ui.Controllers.HomeController.Save (Ui)</property><property key=''RequestId''>0HN6KL2KV9HN3:0000000D</property><property key=''RequestPath''>/Home/Save</property><property key=''ConnectionId''>0HN6KL2KV9HN3</property></properties>')
INSERT [dbo].[Log] ([Id], [Message], [MessageTemplate], [Level], [TimeStamp], [Exception], [Properties]) VALUES (134, N'Executed DbCommand ("2"ms) [Parameters=[""], CommandType=''Text'', CommandTimeout=''30'']"
""SELECT [t].[Id], [t].[CreatedBy], [t].[CreatedDate], [t].[CurrentState], [t].[ShippingFactor], [t].[ShippingTypeAName], [t].[ShippingTypeEName], [t].[UpdatedBy], [t].[UpdatedDate]
FROM [TbShippingTypes] AS [t]"', N'Executed DbCommand ({elapsed}ms) [Parameters=[{parameters}], CommandType=''{commandType}'', CommandTimeout=''{commandTimeout}'']{newLine}{commandText}', N'Information', CAST(N'2024-09-14T13:33:34.697' AS DateTime), NULL, N'<properties><property key=''elapsed''>2</property><property key=''parameters''></property><property key=''commandType''>Text</property><property key=''commandTimeout''>30</property><property key=''newLine''>
</property><property key=''commandText''>SELECT [t].[Id], [t].[CreatedBy], [t].[CreatedDate], [t].[CurrentState], [t].[ShippingFactor], [t].[ShippingTypeAName], [t].[ShippingTypeEName], [t].[UpdatedBy], [t].[UpdatedDate]
FROM [TbShippingTypes] AS [t]</property><property key=''EventId''><structure type=''''><property key=''Id''>20101</property><property key=''Name''>Microsoft.EntityFrameworkCore.Database.Command.CommandExecuted</property></structure></property><property key=''SourceContext''>Microsoft.EntityFrameworkCore.Database.Command</property><property key=''ActionId''>caac9770-eac4-4157-a19d-746e0fcc748e</property><property key=''ActionName''>Ui.Controllers.HomeController.Index (Ui)</property><property key=''RequestId''>0HN6KL2KV9HN3:0000000F</property><property key=''RequestPath''>/</property><property key=''ConnectionId''>0HN6KL2KV9HN3</property></properties>')
INSERT [dbo].[Log] ([Id], [Message], [MessageTemplate], [Level], [TimeStamp], [Exception], [Properties]) VALUES (172, N'Executed DbCommand ("6"ms) [Parameters=[""], CommandType=''Text'', CommandTimeout=''30'']"
""SELECT [t].[Id], [t].[CreatedBy], [t].[CreatedDate], [t].[CurrentState], [t].[ShippingFactor], [t].[ShippingTypeAName], [t].[ShippingTypeEName], [t].[UpdatedBy], [t].[UpdatedDate]
FROM [TbShippingTypes] AS [t]"', N'Executed DbCommand ({elapsed}ms) [Parameters=[{parameters}], CommandType=''{commandType}'', CommandTimeout=''{commandTimeout}'']{newLine}{commandText}', N'Information', CAST(N'2024-09-14T19:10:09.043' AS DateTime), NULL, N'<properties><property key=''elapsed''>6</property><property key=''parameters''></property><property key=''commandType''>Text</property><property key=''commandTimeout''>30</property><property key=''newLine''>
</property><property key=''commandText''>SELECT [t].[Id], [t].[CreatedBy], [t].[CreatedDate], [t].[CurrentState], [t].[ShippingFactor], [t].[ShippingTypeAName], [t].[ShippingTypeEName], [t].[UpdatedBy], [t].[UpdatedDate]
FROM [TbShippingTypes] AS [t]</property><property key=''EventId''><structure type=''''><property key=''Id''>20101</property><property key=''Name''>Microsoft.EntityFrameworkCore.Database.Command.CommandExecuted</property></structure></property><property key=''SourceContext''>Microsoft.EntityFrameworkCore.Database.Command</property><property key=''ActionId''>a08f1b16-cf9e-4213-ad5c-ed2eb3041f7a</property><property key=''ActionName''>Ui.Controllers.HomeController.Index (Ui)</property><property key=''RequestId''>0HN6KQUER899K:00000001</property><property key=''RequestPath''>/</property><property key=''ConnectionId''>0HN6KQUER899K</property></properties>')
INSERT [dbo].[Log] ([Id], [Message], [MessageTemplate], [Level], [TimeStamp], [Exception], [Properties]) VALUES (189, N'An unhandled exception has occurred while executing the request.', N'An unhandled exception has occurred while executing the request.', N'Error', CAST(N'2024-09-16T13:33:28.610' AS DateTime), N'Microsoft.AspNetCore.Routing.Matching.AmbiguousMatchException: The request matched multiple endpoints. Matches: 

Ui.Controllers.HomeController.Index (Ui)
Ui.Areas.Admin.Controlers.HomeController.Index (Ui)
   at Microsoft.AspNetCore.Routing.Matching.DefaultEndpointSelector.ReportAmbiguity(Span`1 candidateState)
   at Microsoft.AspNetCore.Routing.Matching.DefaultEndpointSelector.ProcessFinalCandidates(HttpContext httpContext, Span`1 candidateState)
   at Microsoft.AspNetCore.Routing.Matching.DefaultEndpointSelector.Select(HttpContext httpContext, Span`1 candidateState)
   at Microsoft.AspNetCore.Routing.Matching.DfaMatcher.MatchAsync(HttpContext httpContext)
   at Microsoft.AspNetCore.Routing.EndpointRoutingMiddleware.Invoke(HttpContext httpContext)
   at Microsoft.AspNetCore.StaticFiles.StaticFileMiddleware.Invoke(HttpContext context)
   at Microsoft.AspNetCore.HttpsPolicy.HttpsRedirectionMiddleware.Invoke(HttpContext context)
   at Microsoft.AspNetCore.Authentication.AuthenticationMiddleware.Invoke(HttpContext context)
   at Microsoft.AspNetCore.Diagnostics.DeveloperExceptionPageMiddlewareImpl.Invoke(HttpContext context)', N'<properties><property key=''EventId''><structure type=''''><property key=''Id''>1</property><property key=''Name''>UnhandledException</property></structure></property><property key=''SourceContext''>Microsoft.AspNetCore.Diagnostics.DeveloperExceptionPageMiddleware</property><property key=''RequestId''>0HN6M7C003MQ0:00000001</property><property key=''RequestPath''>/</property><property key=''ConnectionId''>0HN6M7C003MQ0</property></properties>')
GO
INSERT [dbo].[Log] ([Id], [Message], [MessageTemplate], [Level], [TimeStamp], [Exception], [Properties]) VALUES (204, N'Executed DbCommand ("13"ms) [Parameters=[""], CommandType=''Text'', CommandTimeout=''30'']"
""SELECT [t].[Id], [t].[CreatedBy], [t].[CreatedDate], [t].[CurrentState], [t].[ShippingFactor], [t].[ShippingTypeAName], [t].[ShippingTypeEName], [t].[UpdatedBy], [t].[UpdatedDate]
FROM [TbShippingTypes] AS [t]"', N'Executed DbCommand ({elapsed}ms) [Parameters=[{parameters}], CommandType=''{commandType}'', CommandTimeout=''{commandTimeout}'']{newLine}{commandText}', N'Information', CAST(N'2024-09-16T13:34:53.917' AS DateTime), NULL, N'<properties><property key=''elapsed''>13</property><property key=''parameters''></property><property key=''commandType''>Text</property><property key=''commandTimeout''>30</property><property key=''newLine''>
</property><property key=''commandText''>SELECT [t].[Id], [t].[CreatedBy], [t].[CreatedDate], [t].[CurrentState], [t].[ShippingFactor], [t].[ShippingTypeAName], [t].[ShippingTypeEName], [t].[UpdatedBy], [t].[UpdatedDate]
FROM [TbShippingTypes] AS [t]</property><property key=''EventId''><structure type=''''><property key=''Id''>20101</property><property key=''Name''>Microsoft.EntityFrameworkCore.Database.Command.CommandExecuted</property></structure></property><property key=''SourceContext''>Microsoft.EntityFrameworkCore.Database.Command</property><property key=''ActionId''>9ec78d1a-9e13-4e31-834b-62d90b66101c</property><property key=''ActionName''>Ui.Controllers.HomeController.Index (Ui)</property><property key=''RequestId''>0HN6M7COADV84:00000001</property><property key=''RequestPath''>/</property><property key=''ConnectionId''>0HN6M7COADV84</property></properties>')
GO
INSERT [dbo].[Log] ([Id], [Message], [MessageTemplate], [Level], [TimeStamp], [Exception], [Properties]) VALUES (532, N'Executed DbCommand ("11"ms) [Parameters=[""], CommandType=''Text'', CommandTimeout=''30'']"
""SELECT [t].[Id], [t].[CreatedBy], [t].[CreatedDate], [t].[CurrentState], [t].[ShippingFactor], [t].[ShippingTypeAName], [t].[ShippingTypeEName], [t].[UpdatedBy], [t].[UpdatedDate]
FROM [TbShippingTypes] AS [t]"', N'Executed DbCommand ({elapsed}ms) [Parameters=[{parameters}], CommandType=''{commandType}'', CommandTimeout=''{commandTimeout}'']{newLine}{commandText}', N'Information', CAST(N'2024-09-16T13:36:59.450' AS DateTime), NULL, N'<properties><property key=''elapsed''>11</property><property key=''parameters''></property><property key=''commandType''>Text</property><property key=''commandTimeout''>30</property><property key=''newLine''>
</property><property key=''commandText''>SELECT [t].[Id], [t].[CreatedBy], [t].[CreatedDate], [t].[CurrentState], [t].[ShippingFactor], [t].[ShippingTypeAName], [t].[ShippingTypeEName], [t].[UpdatedBy], [t].[UpdatedDate]
FROM [TbShippingTypes] AS [t]</property><property key=''EventId''><structure type=''''><property key=''Id''>20101</property><property key=''Name''>Microsoft.EntityFrameworkCore.Database.Command.CommandExecuted</property></structure></property><property key=''SourceContext''>Microsoft.EntityFrameworkCore.Database.Command</property><property key=''ActionId''>674de6af-487b-4c8c-b64f-6d1a268ae44d</property><property key=''ActionName''>Ui.Controllers.HomeController.Index (Ui)</property><property key=''RequestId''>0HN6M7DU0RUTS:00000001</property><property key=''RequestPath''>/</property><property key=''ConnectionId''>0HN6M7DU0RUTS</property></properties>')
INSERT [dbo].[Log] ([Id], [Message], [MessageTemplate], [Level], [TimeStamp], [Exception], [Properties]) VALUES (584, N'Executed DbCommand ("9"ms) [Parameters=[""], CommandType=''Text'', CommandTimeout=''30'']"
""SELECT [t].[Id], [t].[CreatedBy], [t].[CreatedDate], [t].[CurrentState], [t].[ShippingFactor], [t].[ShippingTypeAName], [t].[ShippingTypeEName], [t].[UpdatedBy], [t].[UpdatedDate]
FROM [TbShippingTypes] AS [t]"', N'Executed DbCommand ({elapsed}ms) [Parameters=[{parameters}], CommandType=''{commandType}'', CommandTimeout=''{commandTimeout}'']{newLine}{commandText}', N'Information', CAST(N'2024-09-16T16:07:06.757' AS DateTime), NULL, N'<properties><property key=''elapsed''>9</property><property key=''parameters''></property><property key=''commandType''>Text</property><property key=''commandTimeout''>30</property><property key=''newLine''>
</property><property key=''commandText''>SELECT [t].[Id], [t].[CreatedBy], [t].[CreatedDate], [t].[CurrentState], [t].[ShippingFactor], [t].[ShippingTypeAName], [t].[ShippingTypeEName], [t].[UpdatedBy], [t].[UpdatedDate]
FROM [TbShippingTypes] AS [t]</property><property key=''EventId''><structure type=''''><property key=''Id''>20101</property><property key=''Name''>Microsoft.EntityFrameworkCore.Database.Command.CommandExecuted</property></structure></property><property key=''SourceContext''>Microsoft.EntityFrameworkCore.Database.Command</property><property key=''ActionId''>4c871432-52d0-44d0-9fa0-933de145921c</property><property key=''ActionName''>Ui.Controllers.HomeController.Index (Ui)</property><property key=''RequestId''>0HN6MA1QD9ABF:00000001</property><property key=''RequestPath''>/</property><property key=''ConnectionId''>0HN6MA1QD9ABF</property></properties>')
GO
INSERT [dbo].[Log] ([Id], [Message], [MessageTemplate], [Level], [TimeStamp], [Exception], [Properties]) VALUES (642, N'Executed DbCommand ("6"ms) [Parameters=[""], CommandType=''Text'', CommandTimeout=''30'']"
""SELECT [t].[Id], [t].[CreatedBy], [t].[CreatedDate], [t].[CurrentState], [t].[ShippingFactor], [t].[ShippingTypeAName], [t].[ShippingTypeEName], [t].[UpdatedBy], [t].[UpdatedDate]
FROM [TbShippingTypes] AS [t]"', N'Executed DbCommand ({elapsed}ms) [Parameters=[{parameters}], CommandType=''{commandType}'', CommandTimeout=''{commandTimeout}'']{newLine}{commandText}', N'Information', CAST(N'2024-09-16T16:08:16.307' AS DateTime), NULL, N'<properties><property key=''elapsed''>6</property><property key=''parameters''></property><property key=''commandType''>Text</property><property key=''commandTimeout''>30</property><property key=''newLine''>
</property><property key=''commandText''>SELECT [t].[Id], [t].[CreatedBy], [t].[CreatedDate], [t].[CurrentState], [t].[ShippingFactor], [t].[ShippingTypeAName], [t].[ShippingTypeEName], [t].[UpdatedBy], [t].[UpdatedDate]
FROM [TbShippingTypes] AS [t]</property><property key=''EventId''><structure type=''''><property key=''Id''>20101</property><property key=''Name''>Microsoft.EntityFrameworkCore.Database.Command.CommandExecuted</property></structure></property><property key=''SourceContext''>Microsoft.EntityFrameworkCore.Database.Command</property><property key=''ActionId''>231c3e9a-d7f7-4e1c-970c-08e259081e83</property><property key=''ActionName''>Ui.Controllers.HomeController.Index (Ui)</property><property key=''RequestId''>0HN6MA2FUAGQG:00000001</property><property key=''RequestPath''>/</property><property key=''ConnectionId''>0HN6MA2FUAGQG</property></properties>')
INSERT [dbo].[Log] ([Id], [Message], [MessageTemplate], [Level], [TimeStamp], [Exception], [Properties]) VALUES (685, N'Executed DbCommand ("1"ms) [Parameters=[""], CommandType=''Text'', CommandTimeout=''30'']"
""SELECT [t].[Id], [t].[CreatedBy], [t].[CreatedDate], [t].[CurrentState], [t].[ShippingFactor], [t].[ShippingTypeAName], [t].[ShippingTypeEName], [t].[UpdatedBy], [t].[UpdatedDate]
FROM [TbShippingTypes] AS [t]"', N'Executed DbCommand ({elapsed}ms) [Parameters=[{parameters}], CommandType=''{commandType}'', CommandTimeout=''{commandTimeout}'']{newLine}{commandText}', N'Information', CAST(N'2024-09-16T16:08:31.317' AS DateTime), NULL, N'<properties><property key=''elapsed''>1</property><property key=''parameters''></property><property key=''commandType''>Text</property><property key=''commandTimeout''>30</property><property key=''newLine''>
</property><property key=''commandText''>SELECT [t].[Id], [t].[CreatedBy], [t].[CreatedDate], [t].[CurrentState], [t].[ShippingFactor], [t].[ShippingTypeAName], [t].[ShippingTypeEName], [t].[UpdatedBy], [t].[UpdatedDate]
FROM [TbShippingTypes] AS [t]</property><property key=''EventId''><structure type=''''><property key=''Id''>20101</property><property key=''Name''>Microsoft.EntityFrameworkCore.Database.Command.CommandExecuted</property></structure></property><property key=''SourceContext''>Microsoft.EntityFrameworkCore.Database.Command</property><property key=''ActionId''>289f6b4a-e197-4988-9dd2-0464d5ec231f</property><property key=''ActionName''>Ui.Areas.Admin.Controlers.ShippingTypesController.Index (Ui)</property><property key=''RequestId''>0HN6MA2FUAGQG:00000019</property><property key=''RequestPath''>/admin/ShippingTypes</property><property key=''ConnectionId''>0HN6MA2FUAGQG</property></properties>')
GO
SET IDENTITY_INSERT [dbo].[Log] OFF
GO
INSERT [dbo].[TbShippingTypes] ([Id], [ShippingTypeAName], [ShippingTypeEName], [ShippingFactor], [UpdatedBy], [CurrentState], [CreatedDate], [CreatedBy], [UpdatedDate]) VALUES (N'deee1751-c06e-46eb-8a0c-e5cce563124e', N'bgfb', N'fgbfg', 4, NULL, 1, CAST(N'2024-09-14T13:33:34.383' AS DateTime), N'00000000-0000-0000-0000-000000000000', NULL)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 10/1/2024 11:11:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 10/1/2024 11:11:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 10/1/2024 11:11:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 10/1/2024 11:11:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 10/1/2024 11:11:16 AM ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 10/1/2024 11:11:16 AM ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 10/1/2024 11:11:16 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TbCarriers] ADD  CONSTRAINT [DF_TbCarriers_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[TbCities] ADD  CONSTRAINT [DF_TbCities_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[TbCountries] ADD  CONSTRAINT [DF_TbCountries_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[TbPaymentMethods] ADD  CONSTRAINT [DF_TbPaymentMethods_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[TbSetting] ADD  CONSTRAINT [DF_TbSetting_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[TbShippingTypes] ADD  CONSTRAINT [DF_TbShippingTypes_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[TbShippments] ADD  CONSTRAINT [DF_TbShippments_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[TbShippmentStatus] ADD  CONSTRAINT [DF_TbShippmentStatus_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[TbSubscriptionPackages] ADD  CONSTRAINT [DF_TbSubscriptionPackages_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[TbUserReceivers] ADD  CONSTRAINT [DF_TbUserReceivers_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[TbUserSebders] ADD  CONSTRAINT [DF_TbUserSebders_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[TbUserSubscriptions] ADD  CONSTRAINT [DF_TbUserSubscriptions_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[TbCities]  WITH CHECK ADD  CONSTRAINT [FK_TbCities_TbCountries] FOREIGN KEY([CountryId])
REFERENCES [dbo].[TbCountries] ([Id])
GO
ALTER TABLE [dbo].[TbCities] CHECK CONSTRAINT [FK_TbCities_TbCountries]
GO
ALTER TABLE [dbo].[TbShippments]  WITH CHECK ADD  CONSTRAINT [FK_TbShippments_TbPaymentMethods] FOREIGN KEY([PaymentMethodId])
REFERENCES [dbo].[TbPaymentMethods] ([Id])
GO
ALTER TABLE [dbo].[TbShippments] CHECK CONSTRAINT [FK_TbShippments_TbPaymentMethods]
GO
ALTER TABLE [dbo].[TbShippments]  WITH CHECK ADD  CONSTRAINT [FK_TbShippments_TbShippingTypes] FOREIGN KEY([ShippingTypeId])
REFERENCES [dbo].[TbShippingTypes] ([Id])
GO
ALTER TABLE [dbo].[TbShippments] CHECK CONSTRAINT [FK_TbShippments_TbShippingTypes]
GO
ALTER TABLE [dbo].[TbShippments]  WITH CHECK ADD  CONSTRAINT [FK_TbShippments_TbUserReceivers] FOREIGN KEY([ReceiverId])
REFERENCES [dbo].[TbUserReceivers] ([Id])
GO
ALTER TABLE [dbo].[TbShippments] CHECK CONSTRAINT [FK_TbShippments_TbUserReceivers]
GO
ALTER TABLE [dbo].[TbShippments]  WITH CHECK ADD  CONSTRAINT [FK_TbShippments_TbUserSebders] FOREIGN KEY([SenderId])
REFERENCES [dbo].[TbUserSebders] ([Id])
GO
ALTER TABLE [dbo].[TbShippments] CHECK CONSTRAINT [FK_TbShippments_TbUserSebders]
GO
ALTER TABLE [dbo].[TbShippmentStatus]  WITH CHECK ADD  CONSTRAINT [FK_TbShippmentStatus_TbCarriers] FOREIGN KEY([CarrierId])
REFERENCES [dbo].[TbCarriers] ([Id])
GO
ALTER TABLE [dbo].[TbShippmentStatus] CHECK CONSTRAINT [FK_TbShippmentStatus_TbCarriers]
GO
ALTER TABLE [dbo].[TbShippmentStatus]  WITH CHECK ADD  CONSTRAINT [FK_TbShippmentStatus_TbShippments] FOREIGN KEY([ShippmentId])
REFERENCES [dbo].[TbShippments] ([Id])
GO
ALTER TABLE [dbo].[TbShippmentStatus] CHECK CONSTRAINT [FK_TbShippmentStatus_TbShippments]
GO
ALTER TABLE [dbo].[TbUserReceivers]  WITH CHECK ADD  CONSTRAINT [FK_TbUserReceivers_TbCities] FOREIGN KEY([CityId])
REFERENCES [dbo].[TbCities] ([Id])
GO
ALTER TABLE [dbo].[TbUserReceivers] CHECK CONSTRAINT [FK_TbUserReceivers_TbCities]
GO
ALTER TABLE [dbo].[TbUserSebders]  WITH CHECK ADD  CONSTRAINT [FK_TbUserSebders_TbCities] FOREIGN KEY([CityId])
REFERENCES [dbo].[TbCities] ([Id])
GO
ALTER TABLE [dbo].[TbUserSebders] CHECK CONSTRAINT [FK_TbUserSebders_TbCities]
GO
ALTER TABLE [dbo].[TbUserSubscriptions]  WITH CHECK ADD  CONSTRAINT [FK_TbUserSubscriptions_TbSubscriptionPackages] FOREIGN KEY([PackageId])
REFERENCES [dbo].[TbSubscriptionPackages] ([Id])
GO
ALTER TABLE [dbo].[TbUserSubscriptions] CHECK CONSTRAINT [FK_TbUserSubscriptions_TbSubscriptionPackages]
GO
USE [master]
GO
